<p class="mt-5 fs-1 fw-bold font-monospace text-center">Login</p>

<div class="container min-vh-100 d-flex justify-content-center align-items-top">
  <form class="form" #form="ngForm" (ngSubmit)="submit()">
    <div class="form-group form-floating mb-3 mt-3 container">
      <input
        required
        ngModel
        #email="ngModel"
        name="email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <div class="alert alert-danger" *ngIf="email.touched">
        email must be entered
      </div>
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating mb-3 container">
      <input
        required
        ngModel
        #password="ngModel"
        name="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
      <div class="alert alert-danger" *ngIf="password.touched">
        password must be entered
      </div>
    </div>
    <div class="mb-3 form-check container">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <div class="mb-3 container">
      <input class="btn btn-primary" type="submit" value="Submit" />
      <span>
        <p class="mb-0 mt-3">
          Forgot your password?
          <a href="#"> Click Here</a>
        </p>
        <a href="#"> Reset Password </a>
      </span>
    </div>
  </form>
</div>
