.navbar {
  background-color: rgb(155, 150, 150);
}

a {
  color: rgb(0, 0, 0);
}
a.active {
  color: white;
}

button {
  color: white;
  border-color: white;
}

.nav-link.active {
  color: white;
}
